// 页面的基础样式
.icon
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;

// 清除浮动
.clearfix:before, .clearfix:after
  content: "  "
  display: table

.clearfix:after
  clear: both
