// 颜色定义规范
$color-button = rgb(51, 51, 51)
$color-text-white = #fff
$color-text-black = #000
$color-nav-bg = rgb(61, 61, 68)

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 可维护样式
$width-nav = 222px
$absolute-top-show = 50px
